<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div id="side-bar">
                <div id="plist" class="people-list">
                    <div class="header">
                        <a class="app-logo">
                            <!-- <img src="../../../assets/lg.jpg" /> -->
                            <span class="app-name">Minimal Chat</span>
                        </a>
                        <div class="column-border" style=" margin-left: -0px;"></div>

                        <ul class="list-unstyled chat-list mt-2 mb-0">

                            <li *ngFor="let user of users" class="clearfix" (click)="showMessage(user.id)">
                                <div class="profile">
                                    <div class="user-image">
                                        <span>{{ user.name.charAt(0) }}</span>

                                    </div>
                                </div>
                                <div class="about">
                                    <div class="name">{{ user.name }}</div>
                                    <div class="email">{{ user.email }}</div>

                                </div>
                            </li>
                            <!-- Button to Add Channels -->
                            <div class="add-channel-button">
                                <button (click)="showAddChannelModal()">Add Channel</button>
                            </div>

                            <!-- Modal for Adding Channels -->
                            <div *ngIf="showModal" class="modal">
                                <div class="modal-content">
                                    <span class="close" (click)="hideAddChannelModal()">&times;</span>
                                    <h2>Create a New Channel</h2>
                                    <form (ngSubmit)="createChannel()">
                                        <label for="channelName">Channel Name:</label>
                                        <input type="text" id="channelName" name="channelName"
                                            [(ngModel)]="newChannelName" required>
                                        <br>
                                        <label for="channelDescription">Channel Description:</label>
                                        <input type="text" id="channelDescription" name="channelDescription"
                                            [(ngModel)]="newChannelDescription" required>
                                        <br>
                                        <label for="channelMembers">Select Users:</label>
                                        <select multiple id="channelMembers" name="channelMembers"
                                            [(ngModel)]="selectedUsers">
                                            <option *ngFor="let user of users" [ngValue]="user.id">{{ user.name }}
                                            </option>
                                        </select>
                                        <br>
                                        <button type="submit">Create Channel</button>
                                    </form>
                                </div>
                            </div>


                            <!-- Button to Add Members to Channel -->
                            <div class="add-members-button">
                                <button (click)="showAddMembersModals()">Add Members to Channel</button>
                            </div>

                            <!-- Modal for Adding Members to Channel -->
                            <div *ngIf="showAddMembersModal" class="modal">
                                <div class="modal-content">
                                    <span class="close" (click)="hideAddMembersModal()">&times;</span>
                                    <h2>Add Members to Channel</h2>
                                    <form (ngSubmit)="addMembersToChannel()">
                                        <label for="channelSelect">Select a Channel:</label>
                                        <select id="channelSelect" [(ngModel)]="selectedChannel" name="selectedChannel"
                                            required>
                                            <option *ngFor="let channel of channels" [ngValue]="channel.channelId">{{
                                                channel.name }}</option>
                                        </select>
                                        <label for="memberSelect">Select Users:</label>
                                        <select multiple id="memberSelect" [(ngModel)]="selectedUsers"
                                            name="selectedUsers">
                                            <option *ngFor="let user of users" [ngValue]="user.id">{{ user.name }}
                                            </option>
                                        </select>
                                        <br>
                                        <button type="submit">Add Members</button>
                                    </form>
                                </div>
                            </div>

                            <div class="column-border"></div>
                            <ul class="list-unstyled chat-list mt-2 mb-0">
                                <li *ngFor="let channel of channels" class="clearfix"
                                    (click)="onChannelClick(channel.channelId)">
                                    <div class="profile">
                                        <div class="user-image">
                                            <span>{{ channel.name.charAt(0) }}</span>
                                        </div>
                                        <div class="about">
                                            <div class="name">{{ channel.name }}</div>
                                        </div>
                                        <div *ngIf="!channel.editMode">
                                            <button class="edit-button" (click)="openEditChannelModal(channel)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button class="delete-button" (click)="deleteChannel(channel.channelId)">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div *ngIf="channel.editMode">

                                            <input type="text" [(ngModel)]="channel.name" />
                                            <input type="text" [(ngModel)]="channel.description" />
                                            <button (click)="saveEditedChannel(channel)">Save</button>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>

                <router-outlet name="childPopup"></router-outlet>


            </div>
        </div>
    </div>

</div>